{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="description"
        content="This is to do list implemented using Django by Dennis Ivy who is a full stack web developer.">
    <link rel="stylesheet" type="text/css" href="css/style1.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>To Do Items</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/left-nav-style.css' %}">
    <link rel="stylesheet" href="{% static '/css/popup.css' %}">
    <link rel="stylesheet" href="{% static '/css/style1.css' %}">
</head>

<body>
    <div class="MainFrame">
        <div class="topMenu">
            <input type="checkbox" id="nav-toggle" hidden>
            <nav class="nav">
                <!-- 
            Метка с именем `id` чекбокса в `for` атрибуте
            Символ Unicode 'TRIGRAM FOR HEAVEN' (U+2630)
            Пустой атрибут `onclick` используем для исправления бага в iOS < 6.0
            См: http://timpietrusky.com/advanced-checkbox-hack 
            -->
                <label for="nav-toggle" class="nav-toggle" onclick></label>
                <!-- 
            Здесь размещаете любую разметку,
            если это меню, то скорее всего неупорядоченный список <ul>
            -->
                <h2 class="logo"> 
                    <a href="//dbmast.ru/">Меню</a> 
                </h2>
                <ul>
                    
                    <li><a href="Create_room.html">Создание комнаты</a>                        
                    <li><a href="{% url 'tasks' %}">Список задач</a>
                    <li><a href="account.html">Аккаунт</a>
                    <li><a href="{% url 'basket' %}">Корзина</a>
                    <li><a href="settings.html">Настройки</a>
                    <li><a href="room.html">Комнаты</a>
                    <li><a href="calendar.html">Календарь</a> 
                </ul>
            </nav>
            <div class="text_task_list">Список задач</div>
        </div>
        <div class="topMenu">
        </div>
        <div class="workMenu">
        </div>
        <div class="downMenu">
        </div>
     </div>
     <div id="popup" class="popup">
        <div class="popup_body">
           <div class="popup_content">
                <div class="container">
                </div>
                <div id="popup" class="popup">
                   <div class="popup_body">
                      <div class="popup_content">
                           <div class="container">

<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<div class="header-bar">
    <div>
        <div class="ms">Вы:</div>
        <h1 class="User">{{request.user|title}}</h1>
        <h3 style="margin:0">Количество невыполненных задач: {{count}}  {{ count|pluralize:"" }}</h3>
    </div>

    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}">Выйти из аккаунта</a> {% else %}
    <a href="{% url 'login' %}">Войти</a> {% endif %}
</div>


<div id="search-add-wrapper">
    <form method="GET" style="display: flex;">
        <input type='text' name='search-area' placeholder="Введите имя задачи" value="{{search_input}}">
        <input class="button" type="submit" value='Искать'>
    </form>
    {% if tasks|length > 0 %}
    <a id="add-link" href="{% url 'task-create' %}">&#x2b;</a>
    {% endif %}
</div>


<!-- Hidden form. Form submits new item positions -->
<form style="display: none;" id="reorderForm" method="post" action="{% url 'task-reorder' %}">
    {% csrf_token %}
    <input type="hidden" id="positionInput" name="position">
</form>


<div id="tasklist" class="task-items-wrapper">
    {% for task in tasks %}
    <div class="task-wrapper" data-position="{{task.pk}}">
        <div class="task-title">
            {% if task.complete %}
            <div class="task-complete-icon"></div>
            <i><s><a href="{% url 'task-update' task.id %}">{{task}}</a></s></i> {% else %}
            <div class="task-incomplete-icon"></div>
            <a href="{% url 'task-update' task.id %}">{{task}}</a> {% endif %}
        </div>
        <div class="task-controls">
            <a class="delete-link" href="{% url 'task-delete' task.id %}">&#215;</a>
            <span class="handle">&nbsp;&#10247;</span>
        </div>
    </div>

    {% empty %}
    <div style="text-align: center; padding-bottom: 10px; line-height: 1em;">
        <h3>Нет созданных задач</h3>
        <h3>Создать <a style="text-decoration: none; color: #330c8f;" href="{% url 'task-create' %}">новую задачу</a>! </h3>
    </div>
    {% endfor %}
</div>

<script>
    var taskList = document.getElementById("tasklist");
    var reorderForm = document.getElementById("reorderForm");
    var positionInput = document.getElementById("positionInput");

    let sortable = Sortable.create(taskList, {
        handle: '.handle',
        ghostClass: 'dropArea',
        chosenClass: 'selectedTask',

    });

    function reordering() {
        const rows = document.getElementsByClassName("task-wrapper");
        let pos = [];
        for (let row of rows) {
            pos.push(row.dataset.position);
        }
        console.log(pos.join(","))
        positionInput.value = pos.join(',');
        reorderForm.submit();
    }

    document.ondrop = reordering
</script>

</div>
</div>
</div>
</div>
</body>


</html>